name: Elixir CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        elixir: ['1.13', '1.12', '1.11', '1.10']
        otp: ['24.x', '23.x', '22.x']
        exclude:
          - elixir: '1.10'
            otp: '24.x'
          - elixir: '1.13'
            otp: '22.x'
        include:
          - lint: lint
            elixir: '1.13'
            otp: '24.x'
          - elixir: '1.13'
            otp: '25.x'
    steps:
      - uses: actions/checkout@v2

      - name: Setup BEAM
        uses: erlef/setup-beam@v1
        with:
          elixir-version: ${{ matrix.elixir }}
          otp-version: ${{ matrix.otp }}

      - name: Restore dependencies cache
        uses: actions/cache@v2
        with:
          path: |
            deps
            _build
          key: ${{ runner.os }}-mix-${{ matrix.otp }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-${{ matrix.otp }}-

      - name: Install Dependencies
        run: mix deps.get

      - name: Run Tests
        run: mix test
